@import url('https://fonts.googleapis.com/css2?family=Federo&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


*{
    font-family: "Roboto", sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Custom sleek scrollbar for the entire application */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
    background: #272727;
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3e3e3e;
}